@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif, "Helvetica", "Roboto";
  line-height: 1.5;
  color: #555;
}

header {
  background-color: #263d36;
  background-image: url("header.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
  max-width: 100%;
}

header img {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

header a {
  border: 1px solid #221f20;
  border-radius: 290486px;
  color: black;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background: #221f20;
  color: white;
}

main {
  margin: 0 auto;
  max-width: 60em;
  padding: 4em 1em;
}

main p {
  margin-bottom: 5em;
}

.images-div {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

main h2 {
  margin-top: 1em;
  padding-top: 1em;
}

main h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

a {
  color: #e81c4f;
}

.images {
  text-align: center;
  margin-bottom: 5em;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 420px;
}

.form-group {
  margin: 20px 0;
}

label, input {
  vertical-align: middle;
}

label, input:not([type="radio"], [type="checkbox"]) {
  width: 100%;
}

textarea {
  display: block;
  width: 100%;
  resize: vertical;
}

label, legend, select {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #444;
}

input[type="text"], input[type="email"], textarea, select {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 8px 10px;
  color: #333;
}

.help {
  font-size: 12px;
  margin: 10px;
  color: gray;
}

button {
  border: 1px solid #221f20;
  border-radius: 6px;
  color: black;
  font-size: .8em;
  letter-spacing: 0.2em;
  padding: 1em 3em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

button:hover {
  background: #221f20;
  color: white;
}