@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin: 0 auto;
    max-width: 55em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}

body > header {
    background-color: #a1a4db;
    background-image: url("https://images.unsplash.com/photo-1508311603478-ce574376c3cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 4;
    padding: 1em 1em;
    font-size: xx-small;
    text-align: right;
}

body > header > p > a {
    color: white;
}

body > h1 {
    font-size: small;
    text-align: right;
}

article > header {
    text-align: center;
}

article > header > h2 {
    margin-top: 1em;
    padding-top: 1em;
    color: rgb(75, 75, 217);
}

article > header > p ~ p {
    font-weight: bold;
    font-size: x-large;
}

h3 {
    margin-top: 1em;
    padding-top: 1em;
    color: rgb(106, 106, 224);
}

th {
    color: #333;
}

code {
    background: #eee;
    margin: 1em;
    color: rgb(23, 26, 39);
}

table {
    border: 1px solid white;
}

th, td {
    border: 2px solid white;
    border-bottom: 1px solid black;
}

tr:nth-of-type(1) {
    background-color: rgb(181, 181, 221);
}

article > footer {
    background-color: rgb(207, 207, 216);
    color: black;
}

body > footer {
    background-color: rgb(187, 187, 210);
    color: black;
}

.form-group {
    margin: 10px 25px 5px 20px;
}

label, input:not([type="radio"], [type="checkbox"]) {
    width: 99.5%;
}

.form-group > textarea {
    display: block;
    width: 99.5%;
    resize: vertical;
}

::placeholder {
    text-align: left;
    font-style: italic;
}

label {
    font-weight: 500;
}

input[type="text"], input[type="email"], textarea {
    padding: 4px 6px;
    font-size: small;
}

.helptextarea {
    font-size: small;
    text-align: right;
    color: rgb(106, 105, 105);
}

button {
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: medium;
    color: rgb(27, 27, 196);
}

.controlbutton {
    padding: 10px;
    text-align: center;
}
