body {
	margin: 0 auto;
	padding: 0 2em;
	max-width: 50em;
	font-family: 'Merriweather Sans', sans-serif;
	line-height: 1.8;
	color: darkslategrey;
}

h1,
h2 {
	font-family: 'Work Sans', sans-serif;
	margin-top: 1em;
	padding-top: 1em;
}

nav {
	padding-top: 1em;
}

nav a {
	text-decoration: none;
	color: crimson;
	padding: 0.5em 1em;
	border: 1px solid;
}

strong {
	color: crimson;
}

table {
	width: 100%;
}

thead {
	font-family: 'Work Sans', sans-serif;
}

input,
textarea {
	width: 100%;
}

textarea {
	height: 10em;
}

#submit {
	cursor: pointer;
	padding: 0.5em 1em;
	width: inherit;
}

footer {
	text-align: center;
}
