html {
    box-sizing: border-box;
    padding: 1%;
}

* {
    box-sizing: inherit;

}

body {
    max-width: 1024px;
    background-image: url(https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    padding: 0 1.5em;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.wrapper {
    max-width: 1024px;
    box-shadow: 10px 10px 20px 0 rgba(14, 13, 13, 0.753);
    color: #0e0d0d;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
}

header {
    display: grid;
    background: #922ae700;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.title {
    justify-self: center;
    
}

.logo {
    border-radius: 50%;
    border-style: groove;
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px #706c6c62;

}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: rgb(243, 243, 241);
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 2px 5px rgb(0, 5, 32);

}

h1:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
}

h2,
h3 {
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:link,
.title {
    text-decoration: none;
    color: #8c09f7;
    
}

nav {
    background-color: #922ae7;
    display: grid;
    position: sticky;
    top: 0;   
    cursor: hand;
    cursor: pointer;
    justify-content: center;

}

.nav-links {
    list-style: none;
    display: flex;

}

.nav-item a {
    padding: 10px 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-item:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.nav-item:hover a {
    color: rgb(70, 64, 64);
}

.features {
    display: grid;

}

.main {   
    background: #222222;
    color: #e7e1e1;
    padding: 10px;

}

aside {    
    background: #922ae7;
    padding: 10px;
    color: #e7e1e1;
} 

ul,
ol, li {
    font-size: 15px;    
    background-repeat: no-repeat;
}

footer {
    display: flex;    
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #dfd5d5;
    list-style: none;
    overflow: hidden;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;

}

.f-links {
    list-style: none;
    display: flex;

}

.f-items a {
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.3s linear;
    opacity: 1;
    
}

.f-items:hover {
    background-color: rgb(237, 232, 243);
    border-radius: 10px;
    border: #e7e1e1;
}

.f-items:hover a {
    color: rgb(39, 35, 35);
}

@media screen and (min-width: 768px) {

    .features {
        display: flex;
    }

    .features {
        height: 100%;

    }    
}

@media screen and (max-width: 768px) {
    body {
        padding: 0%;
    }
}