@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

html {
    box-sizing: border-box;
    padding: 1%;
}

* {
    box-sizing: inherit;
}

body {
    max-width: 1024px;
    background-image: url(https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    padding: 0 1.5em;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.wrapper {
    max-width: 1024px;
    box-shadow: 10px 10px 20px 0 rgba(14, 13, 13, 0.753);
    color: #0e0d0d;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    display: grid;
}

header {
    display: grid;
    background: #922ae700;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.title {
    justify-self: center;
}

.logo {
    border-radius: 50%;
    border-style: groove;
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px #706c6c62;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: rgb(243, 243, 241);
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 2px 5px rgb(0, 5, 32);
}

h1:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
}

h2,
h3 {
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:link,
.title {
    text-decoration: none;
    color: #8c09f7;
}

nav {
    background-color: #922ae7;
    display: grid;
    position: sticky;
    top: 0;
    cursor: hand;
    cursor: pointer;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    padding: 10px 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-item:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.nav-item:hover a {
    color: rgb(70, 64, 64);
}

.features {
    display: grid;
}


main {
    background: #222222;
    color: #e7e1e1;
    padding: 10px;
}

aside {
    background: #922ae7;
    padding: 10px;
    color: #e7e1e1;
}

ul,
ol,
li {
    font-size: 15px;
    background-repeat: no-repeat;
}

footer {
    display: flex;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #dfd5d5;
    list-style: none;
    overflow: hidden;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

.btn {
    clear: both;
    white-space: nowrap;
    font-size: .8em;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
    margin: 12px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    overflow: hidden
}

.btn:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn>span,
.btn-icon>i {
    float: left;
    padding: 13.5px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    line-height: 1em
}

.btn>span {
    padding: 14px 18px 16px;
    white-space: nowrap;
    color: #FFF;
    background: #b8b8b8
}

.btn:focus>span {
    background: #9a9a9a
}

.btn-icon>i {
    border-radius: 5px 0 0 5px;
    position: relative;
    width: 40px;
    text-align: center;
    font-size: 1.25em;
    color: #fff;
    background: #212121
}

.btn-icon>i:after {
    content: "";
    border: 8px solid;
    border-color: transparent transparent transparent #222;
    position: absolute;
    top: 13px;
    right: -15px
}

.btn-icon:hover>i,
.btn-icon:focus>i {
    color: #FFF
}

.btn-icon>span {
    border-radius: 0 5px 5px 0
}

.btn-facebook:hover>i,
.btn-facebook:focus>i {
    color: #3b5998
}

.btn-facebook>span {
    background: #3b5998
}

.btn-twitter:hover>i,
.btn-twitter:focus>i {
    color: #55acee
}

.btn-twitter>span {
    background: #55acee
}

.btn-googleplus:hover>i,
.btn-googleplus:focus>i {
    color: #dd4b39
}

.btn-googleplus>span {
    background: #dd4b39
}

.btn-github:hover>i,
.btn-github:focus>i {
    color: #cb2028
}

.btn-github>span {
    background: #cb2028
}

@media screen and (min-width: 768px) {

    .features {
        display: flex;
    }

    .features {
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding: 0%;
    }
}