body {
    background-image: url("./Imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica";
    color: #555;
}

body {
    line-height: 1.5;
    padding: 4em 1em;
}

h1,
h2,
strong {
    color: #333;
    text-align: center;
}

.Name img {
    float: left;
    margin-right: 10px;
}


.Info,
.Experience {

    display: inline-block;
    text-align: justify;
    margin: 10px;
    width: 550px;
    height: 100px;
}



.Links {
    display: inline;
    float: right;
    margin: 10px;

}

.Contactform {
    display: block;
    padding: 10px;
    font-weight: bold;
}

label,
input,
select {
    width: 50%;
    display: block;
}

input,
select {
    vertical-align: middle;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 5px
}

button {
    text-align: center;
    padding: 14px 50px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid lightgray;
    background: lightgray;
    color: rgb(73, 72, 72);
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-100%);
}

button:hover {
    background: darkgrey;
    color: lightgray;
}

button:active {
    background-color: rgb(73, 72, 72);
    box-shadow: none;
}