html{
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

h1 { 

    color: #333;
    max-width: 800px;
    margin-top: 100px;
    margin-left: 100px;
    padding: 0 40px;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    color: #333;
    background-color: #fefefe


}


.page {
    max-width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px auto;
    margin: 0 40px;

   
}

.form-group {
    
    margin: 20px 0;

}

label, input {
    vertical-align: middle;
}

label, input:not([type="radio"], [type="checkbox"]) {
    color: #666;
    width: 100%;
    

}

label{
    font-weight: bold;

}




legend {
    font-weight: bold;
    color: #666;

}

input[type="text"], [type="email"], textarea {

    background: white;
    display: block;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px 10px;
    resize: vertical;
    width: 100%;
}


textarea + div {
    display: block;
    font-size: 12px;
    margin-top: 10px 0 0;
    display: block;
    resize: vertical;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    height: 40px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
}

