
*{
    box-sizing: inherit;
}
body{
    background: whitesmoke;
    margin: 0;
}
html, body{
    height: 100%;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    border: 2px dashed teal;
    height: 100%;
    grid-template-areas: "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}
.grid-items{
    background: papayawhip;
    border: 2px solid coral;
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: coral;
}
.item-a{
    grid-area: header;
}
.item-b{
    grid-area: main;
}
.item-c{
    grid-area: footer;
}