html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

h1,
h4,
strong{
    color:darkcyan;
}

body {
    margin: 0 auto;
    max-width: 50%;
    font-family: sans-serif;
    color: #444;
    background-color: rgb(238, 238, 238);
}

header {
    max-width: 100%;
    background-image: url(header_img.jpeg);
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 4em;
}

.form-group {
    margin: 20px 0;
}

label, input:not([type="checkbox"]) {
    vertical-align: middle;
    width: 100%;
}

textarea {
    display: block;
    width: 100%;
    resize: none;
}

label {
    font-weight: bold;
    font-size: 16px;
}

.aux{
    font-weight: lighter;
    font-style: italic;
    font-size: 12px;
    margin-top: 8px;
}

input, textarea {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 10px 8px;
}

button {
    margin-top: 10px;
    padding: 10px 50px;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid darkslategray;
    background: darkcyan;
    cursor: pointer;
    box-shadow: 1px 1px 3px darkslategrey;
}

button:hover {
    background: rgb(0, 163, 163);
}

button:active {
    background: rgb(0, 116, 116);
    box-shadow: -1px -1px 0px darkslategrey;
}

.form {
    accent-color: darkcyan;
}

input:focus-visible, textarea:focus-visible {
    border: 1px solid darkcyan;
    outline: 0.5px solid darkcyan;
}