html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  background-color: #ffa491;
  font-family: Helvetica, Arial, sans-serif;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6 {

  background-color: #fec9bf;
  padding: 2%;
  border-style: dashed;
  border-color: violet;
}

.item-1 {
  grid-area: header;
  text-align: center;
}

.item-2 {
  grid-area: main;
  text-align: justify;
}

.item-3 {
  grid-area: exp;
  text-align: center;
}

.item-4 {
  grid-area: props;
  text-align: center;

}

.item-5 {
  grid-area: form;
  text-align: center;

}

.item-6 {
  grid-area: footer;
  text-align: center;

}

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    ". header ."
    "main main main"
    "exp props form"
    "exp props form"
    "footer footer footer"
  ;
  grid-gap: 20px;
  justify-content: space-evenly;
}


h2 {
  text-align: center;
}

img {
  width: 100%;
}