html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica", "Arial";
  margin: 0 auto;
  line-height: 1.5;
  background-color: antiquewhite;
}

.card-item-0 {
  grid-area: presentacio;
}
.card-item-1 {
  grid-area: hoja-vida;
}

.card-item-2 {
  grid-area: propositos;
}

.card-item-3 {
  grid-area: experiencia;
}

.card-item-4 {
  grid-area: consultas;
}
.card-item-5 {
    grid-area: footer;
}
.container {
  border: 2px dashed cornflowerblue;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
  ". presentacio . ."
  "hoja-vida propositos experiencia consultas"
  ". footer footer .";
}

.card-item-0,
.card-item-1,
.card-item-2,
.card-item-3,
.card-item-4,
.card-item-5 {
  border: 2px dashed rebeccapurple;
}
