/* --------------------------------------------------- */
/* R E S E T                                           */
/* --------------------------------------------------- */

/*
  https://www.joshwcomeau.com/css/custom-css-reset/
  1. Use a more-intuitive box-sizing model.
*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* --------------------------------------------------- */
/* V A R I A B L E S                                   */
/* --------------------------------------------------- */

:root {
    --primary-color: #fefefe;
    --secondary-color: hsl(0, 1%, 74%);
    --text-color: #333;

    --table-color: rgb(231, 188, 131);
    --table-border-color: #b2b2b2;
    --table-inner-border-color: #080808;



    --ff-primary: "Roboto Slab", serif;
    --ff-secondary: "Georgia", serif;
    --ff-terciary: "Inter", sans-serif;

    --fs-regular: 16px;
}

/* --------------------------------------------------- */
/* U T I L                                             */
/* --------------------------------------------------- */
.img-inline {
    display: inline;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}



body {
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 0 auto;
    max-width: 62.5em;
    font-family: var(--ff-primary);
    font-size: var(--fs-regular);
    padding: 1rem 0;
}

.header {
    margin: 0 1rem;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    background: var(--gray-color-dark);
    border: 1px solid var(--secondary-color);
    box-shadow: 2px 2px var(--secondary-color);
    border-radius: 40px;
}

.main {
    margin: 1rem 1rem;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    background: var(--gray-color-dark);
    border: 1px solid var(--secondary-color);
    box-shadow: 2px 2px var(--secondary-color);
    border-radius: 40px;
}


/* --------------------------------------------------- */
/* T A B L E S                                         */
/* --------------------------------------------------- */

.table {
    /* margin: 0 auto; */
    border: var(--table-border-color) 1px solid;
    width: 100%;
    table-layout: fixed;
    background-color: var(--primary-color);
}

.table td,
.table th {
    border: var(--table-inner-border-color) 1px solid;
    padding: 0.2em;
}


.table__title {
    font-weight: 700;
    font-size: 1.5rem;
    background: var(--table-color);

}

.table td {
    text-align: left;
    padding-left: 1rem;
    font-weight: bold;
}

.table td code {
    font-size: 0.875rem;
    display: inline-block;
    padding: 0.2em;
    font-weight: bold;
}


/* --------------------------------------------------- */
/* C O N T A C T  F O R M                              */
/* --------------------------------------------------- */

.formato {
    margin: 1rem 0;
    padding: 10px;
    border-radius: 40px;
    background: #ecfccb;
    border: 1px solid var(--secondary-color);
    box-shadow: 2px 2px var(--secondary-color);
}

.required {
    color: rgb(229, 78, 78);
}

.form-group {
    margin: 20px 0;
}

label,
input {
    vertical-align: middle;
}

label,
input[type="text"],
input[type="email"] {
    width: 100%;
}

label,
input:not([type="radio"], [type="checkbox"]) {
    width: 100%;
}

textarea {
    display: block;
    width: 100%;
    resize: vertical;
}

label,
legend {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
    color: #444;
}

input[type="text"],
input[type="email"],
textarea {
    background: var(--primary-color);
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px 10px;
    color: #333;
}

.help {
    font-size: 12px;
    margin-top: 10px;
    color: gray;
    font-weight: bold;
}


button {
    padding: 16px 60px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid 365314;
    background: #84cc16;
    color: #333;
    color: #3b15b6;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

button:hover {
    background: #a3e635;
}

button:active {
    background: #65a30d;
    box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}

form {
    accent-color: #84cc16;
}

input:focus-visible,
textarea:focus-visible {
    border: 1px solid #84cc16;
    outline: 3px solid #a3e635;
}