html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    color: black;
    background-color: rgb(209, 171, 209);
    background-image: cover;
}

.page {
    max-width: 500px;
    margin: 100px auto;
    padding: 0 40 px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group {
    border: 1px solid black;
    margin: 20px 0;
    border-radius: 4px;
}

label,
input:not([type="radio"], [type="checkbox"]) {
    width: 100%;
}

textarea {
    display: block;
    width: 100%;
    resize: vertical;
}

label,
legend {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #444;
}

input[type="text"],
input[type="email"],
textarea {
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px 10px;
    color: black;
}

.help {
    font-size: 12px;
    margin-top: 10px;
    color: gray;
}

button {
    padding: 16px 60px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid purple;
    background: rgb(124, 124, 189);
    color: black;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

button:hover {
    background: rgb(83, 83, 194);
}

button:active {
    background: #ca8a04;
    box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}

form {
    accent-color: blue;
}