/* Global styles */
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	background-color: #121212;
	color: #f2f2f2;
}

/* Header styles */
header {
	background-color: #080808;
	padding: 20px;
	text-align: center;
}

#badges ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: center;
	gap: 5px;
}

h1 {
	font-size: 2.5rem;
	font-weight: bold;
}

/* Main content styles */
main {
	padding: 20px;
}

h2 {
	font-size: 1.75rem;
	font-weight: 600;
}

h3 {
	font-size: 1.25em;
	font-weight: 600;
}

a {
	color: #00bfff;
}

section {
	margin-bottom: 2rem;
}

.icon {
	color: #00bfff;
}

#skillsSection ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	gap: 5px;
}

/* Table styles */
table {
	border-collapse: collapse;
	width: auto;
	margin-bottom: 1rem;
	color: #f2f2f2;
}

th,
td {
	text-align: left;
	padding: 0.5rem;
	border: 1px solid #f2f2f2;
}

th {
	background-color: #080808;
	font-weight: bold;
	color: #ffffff;
}

tr:nth-child(even) {
	background-color: #1c1c1c;
}

code {
	background-color: #f2f2f7;
	color: #333333;
	padding: 0.1rem 0.25rem;
	border-radius: 0.25rem;
	font-family: Consolas, monospace;
}

/* Form styles */
form {
	width: 50%;
}

fieldset {
	border: none;
	padding: 0;
	margin: 8px 0;
}

input,
textarea,
select {
	border-radius: 5px;
	border: 1px solid #080808;
	background-color: #080808;
	color: #f2f2f2;
	padding: 8px 12px;
	margin: 8px 0;
	box-sizing: border-box;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
	font-weight: bold;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	border: 1px solid #00bfff;
}

textarea {
	display: block;
	resize: none;
	height: 5rem;
}

label {
	font-weight: bold;
}

#personalInformation input {
	display: inline-block;
	width: calc(50% - 3px);
}

#messageInformation input,
#messageInformation textarea {
	width: 100%;
}

#sourceInformation select {
	width: 100%;
	cursor: pointer;
}

button {
	background-color: #00bfff;
	color: #0d0d0d;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
}

button:hover {
	background-color: #0083e0;
}

button:active {
	background-color: #0083e0;
	color: #f2f2f2;
}
