html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}

body{
    margin: 0 auto;
    max-width: 60em;    
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;   
    color: #566b78;
}

.page{
    max-width: 800px;
    margin: 100px auto;
    padding: 0 40px;
    font-family:Arial, Helvetica, sans-serif
}



.form-group{
   
    margin: 10px 0;
}

label,input{
    vertical-align: middle;
}

label,input[type="text"],input[type="email"],input[type="tel"]{
    width: 100%;
}

label,legend{
    font-weight: bold;
    text-transform:capitalize;
    font-size: 14px;
    color: #444;
}


input[type="text"],input[type="email"],input[type="tel"],textarea{
    background: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding:8px 10px;
    color: #333;


}

fieldset{
    border: 1px solid #d1d5db;
    border-radius: 8px;
    
}
textarea{
    display: block;
    width: 100%;
    resize: vertical;
}

.help{
    font-size: 12px;
    margin-top:10px;
    color: gray;

}

button{
    padding:16px 60px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #e11d48;
    background: #f43f5e;
    color: #333;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    text-shadow: 1px -1px 0 rgba(255,255,255,0.6);
    cursor: pointer;
}
button:hover{
    background:#9f1239;
}
button:active{
    background: #881337;
    box-shadow: none;
}
form{
    accent-color: #dc2626;
}
input:focus-visible, textarea:focus-visible{
    border:1px solid #dc2626; ;
    outline: 1px solid #dc2626;
}