body {
  background-image: linear-gradient(rgb(13, 248, 228), rgb(8, 8, 226));
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  padding: 1em;

  }

article {
  margin: 0 auto;
  max-width: 50em;
}

header {
  background-repeat: no-repeat;
  line-height: 1.2;
  text-align: center;
  max-width: 100em;
}

header img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

table {
  width: 100%;
  text-align: center;
}
    
table,
th,
td {
  border: 1px solid black;
}

h1 {
  color: #4d4d4d;
  font-size: 50px;
  text-align: center;
}

p {
  color: #1d1d1d;
  font-size: 25px;
}

h2 {
  font-size: 30px;
  color: #4f4f50;
  margin-top: 1em;
  padding-top: 1em;
}

a {
  text-decoration: none;
  color: #04911c;
}
time{
  background-color: red;
}