html,
body {
    margin: 0;
    height: 100%;

}

* {
    box-sizing: inherit;
}

body {
    background: #FFA533;
    color: #D0CAC2;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 32px;

}

main {
    display: flex;
    flex-direction: column;

}

section,
header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

nav {
    display: grid;
    place-items: center;
}

header {
    background: #3498db;
    text-align: center;
}

.content {
    background: black;
}

.signup {
    background: #FFA533;
}

.feature {
    background: black;
}

.feature.first {
    background: black;
}

.feature:last-child {
    background: black;
}

@media screen and (min-width: 992px) {
    .features {
        display: flex;
    }

    .feature {
        width: 100%;
    }

    .signup {
        min-height: auto;
        height: 200px;
        order: 3;
    }

    content {
        order: 3;
    }
}