html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    background-color: rgb(233, 245, 255)
}

.page {
    max-width: 650px;
    margin: 100px auto;
    padding: 0 40px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #075f36;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14Spx;
}

.form-group {
    margin: 15px;
}

label,
input {
    vertical-align: middle;
}

label,
input:not([type="radio"], [type="checkbox"]) {
    width: 100%;
}

label,
legend {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(70, 70, 70)
}

textarea {
    display: block;
    width: 100%;
    resize: vertical;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    background: rgb(255, 255, 255);
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 5px 8px;
    color: rgb(70, 70, 70);
}

.help {
    font-size: 12px;
    margin-top: 10px;
    color: rgb(70, 70, 70);
}

button {
    margin: 15px;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid lightgrey;
    background: white;
    color: rgb(70, 70, 70);
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background: rgb(230, 246, 255);
}

button:active {
    background: rgb(215, 239, 255);
}