
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
html,
body {
background-color: #E3E3E3;
  margin: 0 auto;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

a {
  color: #257858;
}

header {
  background-image: url("paisaje.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 5em;
  text-align: center;
}
section {
  max-width: 50em;
  margin: 0 auto;
  ;
}
* {
  box-sizing: border-box;
}
.page {
  max-width: 800px;
  margin: 100px auto;
  padding: 0 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group {
  margin: 20px;
}
label, input {
width: 100%;
}
textarea {
  resize: vertical;
}
label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #444;
}
input[type="text"], input[type="email"], textarea {
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 8px 10px;
  color: #333;
}
button {
 padding: 16px 60px;
 text-transform: uppercase;
 font-weight: bold;
 border: 1px solid #5eead4;
 background: #0e7490;
 border-radius: 8px;
 box-shadow:1px 1px 3px rgba(0, 0, 0, 0.5);
 cursor: pointer;
}
button:active {
background: #164e63;
box-shadow: none;
}
