body{
    background-color: #eee;
    color: #333;
    margin: auto;
    max-width: 25cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    padding: 1.cm;
}
h1, h2{
    margin-top: 0.5cm;
    padding-top: 0.5cm;
}
img{
    width: 2%;
    height: 2%;
}
a {
    color: blueviolet;
}
h1{
    text-align: center;
}
textarea{
    width: 75%;
    resize: none;
}
input{
    width: 20%;
}
label{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}