:root {
  /* Global */
  --web-font-family: Noto Sans, Segoe UI, San Francisco;
  --link-color-1: #304ffe;
  --link-color-2: #3d5afe;
  --link-color-3: #536dfe;
  --link-color-4: #8c9eff;
  --link-color-5: #df47d7;

  /* Light mode */
  --lm-bg-color: #fffbfe;
  --lm-color-1: #c9c5ca;
  --lm-color-1-a: rgba(201, 197, 202, 0.5);
  --lm-color-2: #f4eff4;
  --lm-color-3: #1c1b1f;
  --lm-font-color-1: #1c1b1f;
  --lm-font-color-2: #e6e1e5;

  /* Dark mode */
  --dm-bg-color: #1c1b1f;
  --dm-color-1: #000;
  --dm-color-1-a: rgba(0, 0, 0, 0.5);
  --dm-color-2: #313033;
  --dm-color-3: #e6e1e5;
  --dm-font-color-1: #e6e1e5;
  --dm-font-color-2: #1c1b1f;
}
