@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500&family=Istok+Web&display=swap');

html, body {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    width: 50em;
    font-family: 'Istok Web', sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color : #566b78 ;
    background-color: white;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}
h1, h2, h3, strong {
    color: #333;
}

a {
    color: #e81c4f;
}
p {
    line-height: 1.3;
}
header img{
    width: 120px;
    border-radius: 60px;
}
.container .item {
    background-color: white;
    display: flex;
    flex-direction: row;
    min-height: 100px;
}
.item {
    border: 1px solid #00bcd4;
    
}
.item img {
    width: 50px;
}
.item h3, p {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

@media screen and (max-width: 33%){
    .item {
        min-width: 900px;
    }
}
