@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500&family=Istok+Web&display=swap');


html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Istok Web', sans-serif;
    line-height: 1.5;
    color: #566b78;
    background-color: white;
}

body {
    padding: 2em;
}
header img {
    width: 100px;
    border-radius: 50px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}
.item {
    width: 100%;
    min-height: 100px;
    border: 1px solid #00bcd4;
    display: flex;
    align-items: center;
    gap: 1em;
}
.item img {
    width: 50px;
}
footer p {
    text-align: center;
    margin: 0;
}

@media (min-width: 992px) {
    body {
        padding: 4em 1em;
        width: 50em;
        margin: 0 auto;
    }
    header img {
        width: 120px;
        border-radius: 60px;
    }
    .container {
        justify-content: flex-start;
    }
    .item {
        width: auto;
    }
    .item p {
        width: 300px;
    }
    .item img {
        width: 50px;
    }
}

