html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

body {
    max-width: 600px;
    /* max ancho */
    font-size: 14px;
    /*  tamaño letra */
    margin: 0 auto;
    /* Centrar - le estoy diciendo que un margen arriba y abajo 0 y a los lados los rellena automaticamente */
    border: 1px dashed tomato;
    /* Bordear todo */
    background: #fafafa;
    color: #333;
    font-family: Arial, Arial, Helvetica, sans-serif;
    /* la de moda intel - toca instalarla */
}


header {
    margin: 0 auto;
    padding: 20px;
}


p {
    line-height: 1.1;
    /* espaciado en el parrafo 1.5 el recomendado */
}

h1,
h2 {
    line-height: 1.5;
    margin-top: 50px;
    text-align: center;
}

/* Cambios adicionales de correccion de validator w3 */

main {
    text-align: center;
    margin: 0 auto;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* width: 100%; */
    margin-top: 30px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.contact{
    max-width: 500px;
    margin: 100px auto;
    padding: 0 40px;
}

.form-group{
    margin: 20px 0;
}

label, input{
    vertical-align: middle;
}

label, input:not([type="radio"], [type="checkbox"]){
    width: 100%;
}

textarea{
    display: block;
    width: 100%;
    resize: vertical;
}

label, legend{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #444;
}

input[type="text"], input[type = "email"], textarea{
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px 10px;
    color: #333;
}

.help{
    font-size: 12px;
    margin-top: 10px;
    color: gray;
}

button{
    padding: 10px 60px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #1e3a8a;
    background: #93c5fd;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5);
    color: #333;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

button:hover{
    background: #bfdbfe;
}

button:active{
    background: #3b82f6;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

form{
    accent-color: #93c5fd;
}

input:focus-visible,
textarea:focus-visible{
    border: 1px solid #bfdbfe;
    outline: 3px solid #93c5fd; 
}

footer {
    text-align: center;
}