@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", Helvetica, sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #566b78;
}

h1 {
    display: flex;
}

h3 {
    margin-top: 1em;
    padding-top: 1em;
}

h1,
h2,
h3,
strong {
    color: #333;
}

img {
    border-radius: 10px;
}

.image {
    float: left;
    margin-right: 10px;
}

blockquote,
pre {
    background: #f5f7f9;
    padding: 1em;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
    border-left: 2px solid #69c;
}

a {
    color: #e81c4f;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 16px;
}

table,
th,
td {
    border: 1px solid;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

progress {
    border-radius: 7px;
    width: 80%;
    height: 22px;
    /* margin-left: -11.5%; */
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #008000;
    color: white;
}

.logo {
    max-width: 2%;
}
/* Inicio Formulario de contacto */
#contactme {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 300px;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 6px 0 16px 0;
    resize: vertical;
}

input[type=submit] {
    background-color: #008000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #42fa42;
}
/* Fin Formulario de contacto */