html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}



body {
    background-color: #34949be8;
    margin: 0 auto;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    /* padding: 4em 1em; */
    color: #555;
    background: #F2F0ED;
    ;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */

}




h1 {
    margin-bottom: 0;
    transition: 1.5s;
    color: #F2F0ED;
}






h1,
h2 {
    padding-left: 16px;
}





h2 {
    font-size: 36px;
    margin-top: 0;
    margin-left: 3px;
}


h3 {
    padding-top: 1em;
    margin-top: 1em;
}


h2,
h3,
b {
    color: #161515;
}

a {
    color: rgb(195, 15, 159);
    text-decoration: none;
}

.navbar {
    position: fixed;
}



nav {

    height: 80px;
    width: 100vw;
    background-color: #1615157f;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

nav a {
    color: #F2F0ED;
    text-transform: uppercase;
    font-weight: 600;

}



header {
    margin: 0;
    padding: 0;
    height: 80vh;
    border-bottom: 2px solid #cf4545;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #cf4545;
}


.name {
    font-size: 100px;
    color: #F2F0ED;
    text-transform: uppercase;

}



article {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.sub-tittle {
    font-size: 36px;
    padding: 0px 8px;
    transition: 0.1s ease-in;
    border-bottom: 2px solid #cf4545;

}

.sub-tittle:hover {
    padding: 0px 18px;



}


.bio-cont {
    display: block;
    /* height: 30vh; */
    text-align: center;
    max-width: 90%;
    font-size: 24px;
}

.bio-cont a {
    color: #161515;
    transition: 0.3s;
}


.bio-cont:hover a {
    color: #cf4545;
}


/* --------------------------------------------------------------- */


.loop-container {
    width: 100%;
    overflow: hidden;
}

.loop-text {
    display: flex;
    width: max-content;
    animation: loop 30s linear infinite;
}

.loop-text li {
    text-transform: uppercase;
    padding: 0 10px;
    list-style-type: none;
    font-size: 46px;
    color: #cf4545;

}

.loop-text li::after {
    content: " /";
    color: #161515;
}



@keyframes loop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-30%);
    }
}

/* ---------------------------------------- */

.form-container {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



form label {
    font-size: 18px;
}

.form-group {

    margin: 20px 0;

}

label,
input {
    vertical-align: middle;

}

label,
input:not([type="radio"], [type="checkbox"]) {
    width: 100%;
    /* display: block; */
}




textarea {
    display: block;
    width: 100%;
    resize: vertical;
}


label,
legend {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    color: #444;

}

input[type="text"],
input[type="email"],
textarea {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px 10px;
    color: #8d3131;
}

.help {
    font-size: 12px;
    margin-top: 5px;
    color: gray;

}

button {
    padding: 16px 60px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #713f12;
    background: #ec6464;
    color: #333;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

button:hover {
    background: #cf4545;
}

button:active {
    background: #9f3535;
    box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}

.footer {
    /* border: 1px dashed violet; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.footer div {
    width: 100%;
    /* border: 1px dashed violet; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.foot-list {
    border: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}