html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

.page {
    max-width: 800px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightblue;
    margin: 0 auto;
    max-width: 30em;
    padding-bottom: 2%;
}

.form-group {
    margin: 20px 0;
}

form {
    accent-color: navy;
}

label, input {
    vertical-align: middle;
}

label, input:not([type="radio"], [type="checkbox"]) {
    width: 100%;
}

input[type="text"], input[type="email"], input[type="textarea"], select {
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px 10px;
    color: #333;
}

input:focus-visible, textarea:focus-visible, select:focus-visible {
    outline: 2px solid navy;
}

.help {
    font-size: 10px;
    margin: 10px;
    color: gray;
}

label, legend {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

textarea {
    display: block;
    width: 100%;
    padding: 5px;
    resize: vertical;
}

button {
    padding: 16px 60px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #212F3C;
    background: midnightblue;
    color: dodgerblue;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

button:hover {
    background: mediumblue;
}

button:active {
    background: navy;
    box-shadow: none;
    text-shadow: none;
}