header {
    background-color: lightpink;
    background-image: url("BANNER_LARACONTIGO.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-width: 800px;
    min-height: 320px;

}

body {
    margin: 0 auto;
    max-width: 700px;
    background: rgb(233, 177, 250);
    font-size: 20px;
    font-family: Palatino Linotype;
    line-height: 1.5;
    color: #555;
}

h2 {
    margin-top: 5px;
    padding-top: 6px;
}

h1,
h2,
strong {
    color: #333;
}

a {
    color: lightskyblue;
}
* {box-sizing: border-box;}
.form-group {
    margin: 20px 0;
}
label, input:not([type="radio"], [type="checkbox"]){
    width: 100%;
}
label, legend {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(78, 7, 78);
}
textarea {
    display: block;
    width: 100%;
    resize: vertical;
}
input[type="text"], input[type="email"], textarea {
    background: white;
    border: 1px solid lightslategray;
    border-radius: 4px;
    padding: 8px 10px;
    color:#333;
}
.help {
    font-size: 12px;
    margin-top: 10px;
    color: gray;
}
button {
    padding: 16px 60px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid blueviolet;
    background: pink;
    color:#333;
    text-shadow: -1px, -1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
button:hover {
    background: lightpink;
}
button:active {
    background: palevioletred;
    box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}