body {
    font-family: Arial;
  }

  a {
    color: rgba(0, 81, 255, 0.882);
}

a:hover {
    background: #65464e;
    color: white;
}
  
  div {
    display: flex;
    flex-direction: column;
    border: 1px solid Gainsboro;
    padding: 10px;
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  
  input[type="search"] {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid Gainsboro;
    width: 400px;
    background: WhiteSmoke;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat();
    grid-template-rows: 50px auto  auto ;
    gap: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 /4;
    grid-row: 1 / 2;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  div .big {
    grid-column: 1/4;
  }

  footer {
    font-size: 12px;
    margin-top: 3em;
    color: rgba(0, 81, 255, 0.882);
    font-size: 12px;
  }

  footer p {
    border-top: 1px solid;
    padding-top: 0.3em;
    width: 24em;
    text-align: right;

}

/*-------- Media queries --------*/

@media screen and (max-width:900px) {

  nav {
    
   
    display: block;
  }

  input[type="search"] {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid Gainsboro;
    width: 50%;
    background: WhiteSmoke;
  }

  div {
    grid-column: 1/4;
  }

}