@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Grand+Hotel&display=swap');

body {
  background: #f3f4f6;
  margin: 0 auto;
  max-width: 50em;
  font-family: 'Golos Text', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #566b78;
}

a {
  color: #e81c4f;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}

th {
  padding-right: 4rem;
}

footer {
  padding-top: 4rem;
}

/* FORM */

form {
  background-color: #9bacb3;
  color: #f9f6f5;
  padding: 2rem;
  border-radius: 10px;
  width: 65%;
}

button,
input,
select,
fieldset {
  font-family: inherit;
  font-size: 100%;
  margin-bottom: 14px;
}

textarea {
  font-family: inherit;
  font-size: 100%;
  display: block;
  width: 100%;
  resize: vertical;
}

input[type='text'],
input[type='email'],
textarea {
  border: 1px solid #566b78;
  border-radius: 5px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

button[type='submit'] {
  padding: 0.25rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 8px;
}

button[type='submit']:hover {
  background-color: #a3becf;
}

.data input {
  margin-left: 0.5rem;
}
