html {
    box-sizing: border-box;
}

*  {
    box-sizing: inherit;
}

.tittle {
    text-align: center;
}
.page {
    max-width: 800px;
    margin: 100px auto;
    padding: 0 40px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
    color: #333;
    border-style: double;
}

.group {
    border: 1px solid;
    border-color: transparent;
    margin: 20px 0;
    border-style: dashed;
    padding: 10px;
}

label {
    font-weight: bold;
    padding: 4px;
    border-radius: 4px;
    text-transform: uppercase;
    
}

input {

    width: 100%;
    border-radius: 4px;
    padding: 8px;
    font-style: italic;
    font-weight: lighter;
    border-width: 1px;
    background-color: rgb(242, 240, 240);

}

textarea {
    display: block;
    resize: vertical;
    width: 100%;
    border-radius: 4px;
    padding: 0 40px;
}


.msg {
    font-size: 10px; 
    text-transform: uppercase;
    font-weight: bold;
}
button {
    margin: 12px;
    display: inline-block;
    padding: 8px 32px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    color: #333;
    background-color: #f8fafc;
    border: none;
    border-radius: 4px;
    box-shadow: 0 9px #999;
}

button:hover {
    background-color: #d1fae5;
}

button:active {
    background-color: #86efac;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}