html {
    box-sizing: border-box;
    height: 100%;
}

*  {
    box-sizing: inherit;
}


body {
    max-width: 100%;
    background-image: url(https://images.unsplash.com/photo-1520698857293-5d763dde010f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    height: auto;
    margin: 0;
    
}

h1 {
    font-style: italic;
    text-align: center;
    color: lightgray;
    text-shadow: 2px 2px 4px #ffffff;
    
    
    

}

.container-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
}

.nav {
    text-transform: uppercase;
    padding: 7px 18px;
    text-transform: capitalize;
    font-size: large;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    text-shadow: 1px 1px 2px #ffffff;
    border: 5px outset #33333348;
    border-radius: 7px;
    

    
    
}
.nav:hover {
    background-color: #222222;
    
}

.grid-container {
    max-width: auto;
    max-height: auto;
    width: 80%;
    margin: 2rem auto;

}

.grid-img {
    display: grid;
    height: auto;
    width: auto;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(16, 5vw);
    


}

.img-1 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start:1 ;
    grid-row-end: 4;

}

.img-2 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 4;

}

.img-3 {
    grid-column-start: 15;
    grid-column-end: 19;
    grid-row-start: 1;
    grid-row-end: 4;
}

.img-4 {
    grid-column-start: 2;
    grid-column-end: 20;
    grid-row-start: 6;
    grid-row-end: 12;
}

.img-1 img {
    max-width: auto;
    width: 420px;
    height: 300px;
    margin:  -20px -100px;
    box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 0.466), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    border-style: outset rgba(0, 0, 0, 0.466);  
    

}

.img-2 img  {
    max-width: auto;
    width: 420px;
    height: 300px;
    margin: -20px -55px;
    box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 0.466), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    border-style: outset rgba(0, 0, 0, 0.466);  
    
}

.img-3 img {
    max-width: auto;
    width: 420px;
    height: 300px;
    margin: -20px ;
    box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 0.466), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    border-style: outset rgba(0, 0, 0, 0.466);  
    
}

.img-4 img {
    margin: -10px 40px;
    box-shadow: 0 4px 10px 10px rgba(0, 0, 0, 0.466), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    border-style: outset rgba(0, 0, 0, 0.466);  
    

}

.text-1 {
    grid-column-start: 3;
    grid-column-end: 1;
    grid-row-start: 4 ;
    grid-row-end: 4;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px;
    border: 5px outset #33333348;
    border-radius: 7px;
    text-align: center;
    font-weight: bolder;
    color:#333;
    
    
}

.text-2 {
    grid-column-start: 3;
    grid-column-end: 1;
    grid-row-start: 4 ;
    grid-row-end: 4;
    font-size:small;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 7px;
    border: 5px outset #33333348;
    border-radius: 7px;
    text-align: center;
    font-weight: bolder;
    color:#333;
    
    
}

.text-3 {
    grid-column-start: 3;
    grid-column-end: 1;
    grid-row-start: 4 ;
    grid-row-end: 4;
    font-size:small;
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px;
    border: 5px outset #33333348;
    border-radius: 7px;
    text-align: center;
    font-weight: bolder;
    color:#333;
    

    
}

.text-4 {
    grid-column-start: 3;
    grid-column-end: 1;
    grid-row-start: 10 ;
    grid-row-end: 11;
    font-size:small;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 5px outset #33333348;
    border-radius: 7px;
    text-align: center;
    font-weight: bolder;
    color:#333;
    

}