html {
    background-color: black;
    font-family: sans-serif;
}

body{
    color:white;
    text-align: center;
    

}
div{
    
    padding:30px;
   
    


}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border:1px  solid white;border:4px  solid white;

}

.loco{
    
    width: 80%;
    box-sizing: border-box;
    display:block;
    margin-left: 50px;

}

.loco-1{
    
    width: 20%;
    box-sizing: border-box;
    display:block;
    margin-left: 250px;
    border-radius: 5px;

}



.contenedor{
    width: 700px;
  margin: 0 auto;
}

.loca{
    width: 350px;
    height: 150px;
    border-radius: 10px;
}

/* .xyz{
    width: 20%;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    border: 2px solid tomato;
    
    
} */

.xyz-1{
    width: 20%;
    box-sizing: border-box;
    display:inline-block;
    justify-content: left;
    
    
}

/* .xyz-2{
    width: 20%;
    box-sizing: border-box;
    display:inline;
    margin-left: 0px;

}

.xyz-3{
    width: 20%;
    box-sizing: border-box;
    display:inline;
    margin-left: 0px;

} */

.abc{
    width: 20%;
    box-sizing: border-box;
    display:inline-block;
    justify-content: left;
    margin:10px; 

}

.submit{
    width: 20%;
    height: 50px;
    margin-left: 280px;
    margin-bottom: 40px;
    margin-top: 0px;
    border-radius: 5px;
    color:white;
    background-color: black;
    border: 5px solid white;
    cursor: pointer;
}

input{
    border: 4px solid #808080;
    border-radius: 5px;
    padding: 0px;
    transition: border-color 0.5s ease-in-out;
}

input:focus{
    border-color: #f00;
}

input:valid {
    border-color: #0f0;
}