body {
  margin: 0 auto;
  max-width: 40em;

  font-family: "Helvetica", "Arial", sans-serif;

  line-height: 1.5;
  padding: 1.5em;

  color: #555;
}

main > header * {
  margin: 0;
}


h1 + p {
  font-family: monospace;
  font-style: italic;
  font-size: var(--fs-caption)
}

:root {
  --fs-h1: 1.75rem;
  --fs-h2: 1.5rem;
  --fs-text: 1.125rem;
  --fs-caption: 0.875rem;
}

.page-header h1::before,
.page-header h1::after {
  content: " 🖥💻 ";
}

code,
figcaption {
  font-size: var(--fs-caption);
}

p, li, th, td {
  font-size: var(--fs-text);
}

h1 {
  font-size: var(--fs-h1);
  background: linear-gradient(0.25turn, #c19ab7, #9c95dc);
  background-size: 100%;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

@media (max-width: 800px) {
  .page-header h1::after,
  .page-header h1::before {
    content: none;
  }

  :root {
    --fs-text: 1.1875rem;
    --fs-caption: 1rem;
  }
}

header {
  text-align: center;
  background-color: transparent;
}

h2 {
  font-size: var(--fs-h2);
}

li {
  padding: 0.25em;
}

tr:nth-child(even) {
  background-color: #c19ab7;
  color: #fff;
}

th:first-child {
  width: 15%;
}

th,
td {
  padding: 0.25em;
  border-bottom: 1px solid #333;
}

th:first-child,
td:first-child {
  border-right: 1px solid #333;
}

h1,
h2,
th,
strong {
  color: #9c95dc;
}

code {
  display: inline-block;
  padding: 0.2em;
  border-bottom: 2px solid #228cdb;
}

ul {
  margin: 0;
  padding: 0 2ch;
}

figure {
  font-style: italic;
  text-align: center;

  width: 10em;
  float: right;
  margin-top: 0;
}

figure * {
  margin-bottom: 0.5em;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: #c19ab7;
}

table {
  width: 100%;
  border-collapse: collapse;
}
