@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";
html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


* {
	box-sizing: inherit;
}

/* TARJETA DE PRESENTACION */

header {
	display: flex;
	background-image: url("/asset/gradiente.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	line-height: 1.5;
	text-align: center;
	box-shadow: -5px 7px 4px #00000070;
	border-top-left-radius: 29px;
	border-top-right-radius: 29px;
	color: #dbdbdb;
	font-size: 1em;
	letter-spacing: 0.2em;
	padding: 1em 2em;
	text-transform: uppercase;
	margin-bottom: 4em;
}

@media screen and (max-width: 768px) {
	header {
		display: flex;
		flex-direction: column;
	}

	.content_img_profile {
		justify-content: center;
	}
	
}

header h1 {
	font-size: 2.5em;
	font-weight: 1em;
}

/* FIN DE LA TARJETA DE PRESENTACION */

.content_img_profile {
	display: flex;
	align-items: center;
	object-fit: cover;
	margin-right: 1em;
}

.img_profile img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

/* FIN DE LA TARJETA DE PRESENTACION */

/* CUERPO DE SINTESIS CURRICULAR */

body {
	margin: auto;
	max-width: 60em;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	padding: 4em 1em;
	color: #566b78;
	background-color: rgb(246, 246, 246);
}

em {
	font-weight: 500;
}

h1 h2 h3 {
	margin-top: 1em;
	padding-top: 1em;
	color: #333;
}

main {
	padding: 0em 1em;
	text-align: justify;
}

.about {
	margin-bottom: 3em;
}

/* FIN DEL CUERPO */

/* FORMULARIO DE CONTACTO */

.contac-form {
	max-width: 800px;
	margin: 50px auto;
	padding: 0 40px;
	text-transform: uppercase;
}

.form-element {
	margin: 20px 0;
}

fieldset, input, textarea {
	border-radius: 10px;
	padding: 5px 20px;
	border: 2px solid aqua;
	outline-color: rgb(0, 30, 255);
}

label,
input[type="text"],
input[type="email"] {
	font-size: 1em;
	width: 100%;
	border-radius: 10px;
	margin-top: 10px;
}

label {
	font-weight: 500;
}

textarea {
	margin-top: 10px;
	display: block;
	width: 100%;
	resize: vertical;
}

button {
	font-size: 1.3em;
	padding: 0.5em 1em;
	background-color: aqua;
	color: #566b78;
	border-radius: 25px;
	box-shadow: inset 2px -2px 2px #00000070;
	border: hidden;
}

button:hover {
	color:rgb(0, 54, 81);
}

button:active {
	background-color: rgb(0, 136, 136);
}


/* FIN FORMULARIO DE CONTACTO */

/* PIE DE PAGINA */

.footer {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 4em;
	color: #dbdbdb;
	text-decoration: none;
	padding: 2em;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-image: url("/asset/gradiente.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: -5px 7px 4px #00000070;
}

.footer a {
	color: #566b78;
	text-decoration: none;
	display: inline-block;
	font-size: 1.3em;
	padding: 0.5em 1em;
	background-color: aqua;
	border-radius: 25px;
	box-shadow: inset 2px -2px 2px #00000070;
	margin-bottom: 30px;
}

.footer a:hover {
	border-color: 2px solid rgb(0, 170, 255);
}

.footer a:active {
	background-color: rgb(0, 194, 194);
}

.help {
	text-transform: none;
	font-style: oblique;
	font-weight: 300;
}

/* FIN DEL PIE DE PAGINA */
