    @import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Nunito:wght@700&family=Poppins:ital,wght@0,400;0,700;1,300;1,600&family=Quicksand:wght@300;500;600&family=Roboto:wght@500&display=swap');

    * {
        box-sizing: border-box;
    }


    body {
        margin: auto;
        max-width: 50rem;
        background-color: antiquewhite;
        font-family: 'Nunito', sans-serif;
    }

    h1 {
        text-align: center;
        background-color: aquamarine;
        border-radius: 10px;

    }

    h2 {
        background-color: aquamarine;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
    }


    p {
        font-size: 20px;
        color: navy;
        background-color: white;
        border-radius: 10px;
        padding: 10px;

    }

    ul {
        font-size: 20px;
        color: navy;
        background-color: white;
        border-radius: 10px;


    }

    a {
        padding: 4rem;

    }

    footer {
        text-align: center;
    }

    table {
        border-collapse: collapse;

    }

    thead {
        font-weight: bold;
    }

    .fecha {
        font-style: italic;
    }

    td {
        border: solid black 1px;
        padding: 10px;
    }

    thead {
        background: #ddd;
        font-size: 20px;
    }

    section {
        margin-bottom: 50px;
    }



    @media screen and (min-width: 768px) {
        body {
        background-color: aliceblue;  
        }
        
    } 

    .formacion>ul {
        font-size: 18px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    textarea {
        display: block;
        width: 100%;
        resize: none;
    }

    label,
    legend {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        color: navy;
    }

    fieldset>label {
        text-transform: none;
        font-weight: normal;
    }

    label,
    input {
        vertical-align: top;
    }

    button{
        font-size: 15px;
        color: navy;
        background-color: white;
        border-radius: 5px;
    }

    footer {
        font-size: 15px;
        color: navy;
    }


