header {
    background-image: url("img/tecnology.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 3vw 1em;
    text-align: center;
}

header h1{
    color: lightgoldenrodyellow;
    font-size: 50px;
}

.texto-comando p {
    border: 1px solid black;
    background-color: palegoldenrod;
    text-align: center;
    width: 100%;
    border-radius: 5px;

}

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: 'Roboto';
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
    background: rgb(203, 234, 245);
}

h2 {
    margin-top: 8px;
    padding-top: 8px;
    margin-bottom: 8px;
}

h1,
h2,
strong {
    color: #333;
}

ol {
    margin: 0;
    padding: 1em 1em;
    
}

header a {
    color: lawngreen;
    text-decoration-line: none;
}
a {
    color: darkblue;
    
}
.contact{
    box-sizing: border-box;
    text-align: right;
    

}
.imagenes{
    height: 250px;
}
.imagenes img {
    box-sizing: border-box;
    width: 33%;
    height: 100%;
    object-position: center;
	top: 0;
	left: 0;
    border: #333 1px solid;
    border-radius: 10px;
    align-items:normal;
    
     
}
table{
    
    width: 100%;
    text-align: center  ;
    border-collapse: collapse;
    
       
}
div thead{
    background: palegoldenrod;
   font-weight: 900;
   font-weight: bold;
   color: black;
}
th, td{
    border: 1px black solid;
    padding: 8px;
}
footer,p{
    margin-bottom: 0;
}
footer div p{
    font-size: smaller;
    padding-top: 0;
    border-top: 0;
    margin: 0;

}
.form-group,h1{
    
    box-sizing: border-box;
    padding: 4px 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px;
    font-family:Arial, Helvetica, sans-serif;
     
}
.form-group input:not( [type="radio"],[type="checkbox"]){
width: 100%;
}
.form-group span{
    font-size:x-small;

}
textarea{
    display: block;
    width: 100%;
    border:1px solid #7e7b7b;
    border-radius: 4px;
}
input{
    padding: 8px;
    border:1px solid #7e7b7b;
    border-radius: 4px;
}
label, input{
    vertical-align: middle;
}
button{
   
    padding: 16px 60px;
    text-transform: uppercase;
    border: 1px solid #713f12;
    font-weight: bold;
    background: #eab308;
    border-radius: 8px;
    text-shadow: -1px -1px 0 rgb(203, 234, 245);
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
}
button:hover{
    background: #facc15;
}
button:active{
    background: #ca8a04;
    box-shadow: -1px -1px 0 black;
}