@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #566b78;
  background-color: #fafafa;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
h3,
h4,
th,
strong {
  color: #333;
}

pre {
  padding: 1em;
  background: #f5f7f9;
  border-left: 2px solid #69c;
  border-bottom: 1px solid #d8dee9;
  color: #5fb3b3;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
  border-right: 1px solid #566b78;
}

nav li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px 12px;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #263d36;
}

a {
  color: #e81c4f;
}

header {
  background-color: #263d36;
  background-image: url('header.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

header h1 {
  color: whitesmoke;
  font-size: 2.5em;
  font-weight: 300;
}

header h2 {
  color: whitesmoke;
}

div a {
  border: 1px solid #e81c4f;
  border-radius: 1em;
  color: #566b78;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 0.5em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

div a:hover {
  background: #e81c4f;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border: 1px solid;
  background-color: #c594c5;
}

th,
td {
  padding: 0.5em;
}

td + td {
  width: 75%;
  padding-left: 1.5em;
  border-left: 1px solid;
}

.contact-form {
  max-width: 100%;
  margin: 100px auto;
  padding: 0 40px;
}

.form-objects {
  margin: 20px 0;
}

label,
input[type='text'],
input[type='email'] {
  width: 100%;
}

label,
input {
  vertical-align: middle;
}

textarea {
  display: block;
  width: 100%;
  resize: vertical;
}

label {
  font-weight: bold;
  text-transform: uppercase;
}

input[type='text'],
input[type='email'],
textarea {
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 8px 10px;
  color: #333;
}

.help {
  font-size: 12px;
  margin-top: 10px;
}

button {
  padding: 16px 60px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #365314;
  background: #15803d;
  color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

button:hover {
  background: #14532d;
}

button:active {
  background: #052e16;
  box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}
