body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 300px;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(2, 2, 2, 0.822);
}
nav h1{
    margin-left: 20px;
    font-size: 1.5rem;
    color: #ffffff;
}
.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-links li{
    margin-right: 20px;
}
.nav-link{
    display: block;
    position: relative;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
}
.nav-link:hover::before {
    transform: scaleX(1);
  }
.nav-link::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}
.nav-links[data-animation="center"] .nav-link::before {
    transform-origin: center;
}

.section-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 30px;
    padding: 15px;
}
.title-info{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    text-align: center;
    padding-top: 4.9rem;
    width: 100%;
    font-size: 1.5rem;
}
.title-info span:nth-child(2) {
    font-weight: 700;
    background: linear-gradient(90.05deg,#e7bdd6 1.5%,#7e33c4 98.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hand{
    font-style: normal;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}
.sub-title{
    font-size: 2.5rem;
}
.description{
    text-align: center;
    padding-top: 15px;
    font-size: 0.95rem;
    
}

.section-studies div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.title-studies{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
.description-studies{
    margin: 5px 10px;
    text-align: center;
}

.section-technologies{
    margin-top: 50px;
}
.title-item{
    text-align: center;
    margin: 50px;
    font-size: 1.5rem;
}
.section-technologies ul{
    display: grid;
    grid-template-columns: 100px 100px;
    justify-content: center;
    padding: 10px;
    gap: 15px;
    list-style: none;
}
.section-technologies ul li{
    width: 100px;
    width: 100px;
}
.icon-technologies{
    width: 70px;
    height: 70px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    background-color: rgba(2, 2, 2, 0.822);
}
.social-icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  padding: 10px 0 0 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}
.footer-text {
    color: #fff;
    margin: 5px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

@media (min-width: 950px){
    .section-studies{
        display: flex;
        flex-direction: column;
    }

    .section-technologies{
        margin: 20px;
    }
    .section-technologies ul{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
}


@keyframes wave-animation {
    0% {
        transform: rotate(0deg)
    }

    10% {
        transform: rotate(14deg)
    }

    20% {
        transform: rotate(-8deg)
    }

    30% {
        transform: rotate(14deg)
    }

    40% {
        transform: rotate(-4deg)
    }

    50% {
        transform: rotate(10deg)
    }

    60% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(0deg)
    }
}