@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Grand+Hotel&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Golos Text', sans-serif;
    color: #102a42;
    line-height: 1.5;
    font-size: 0.92rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    margin-top: -1rem;
}

h1,
h2,
h3 {
    line-height: 1;
    color: #ff5d5d;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1.25rem;
}

.header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./header.jpg") center/cover no-repeat fixed;
}

.content {
    margin: 0 auto;
    max-width: 70vw;
    text-align: center;
}

.banner {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner h2 {
    margin-bottom: 5rem;
    color: #ff5d5d;
    font-size: 3.8rem;
}

.banner h1 {
    font-family: 'Grand Hotel',
        cursive;
    color: #4a8acf;
    font-size: 3.5rem;
}

.btn {
    text-transform: uppercase;
    background: #4a8acf;
    color: #fff;
    padding: 0.375rem 0.75rem;
    letter-spacing: 0.25rem;
    display: inline-block;
    font-weight: 700;
    font-size: 0.875rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.banner-btn {
    outline: 0.125rem solid #4a8acf;
    outline-offset: 0.25rem;
    font-size: 1.25rem;
    padding: 1rem 1.75rem;
}

.content-divider {
    height: 0.8rem;
    background: linear-gradient(to left,
            #4a8acf,
            #ff5d5d,
            #4a8acf);
}

.section-title {
    margin-bottom: 2.8rem;
    font-size: 2.5rem;
}

.container {
    margin-top: 4.2rem;
    margin-bottom: 2.5rem;
}

.container span {
    font-weight: bold;
}

.services-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: -1rem;
}

.service {
    background: #fff;
    padding: 3rem 1.5rem;
    margin-top: -2rem;
    margin-bottom: -2.4rem;
    border-radius: 0.5rem;
    text-align: center;
}

.service-title {
    color: #ff5d5d;
    font-weight: bolder;
    font-size: 1.3rem;
    margin-bottom: 1.25rem
}

.service-icon {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
}

.contact-center p {
    margin-bottom: 1rem;
    color: #4a8acf;
    font-weight: bolder;
}

.contact-center a {
    color: #102a42;
}

.section-center {
    width: 95vw;
    padding: 4rem 1rem;
}

.contact {
    background: var(--clr-grey-10);
}

.contact-form,
.contact-info {
    margin: 1rem 0;
}

.contact-item {
    margin-bottom: 1.75rem;
}

.contact-title {
    color: #678e3e;
    font-weight: 700;
}

.contact-text {
    text-transform: uppercase;
}

.contact-form {
    background: #fff;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s linear;
    max-width: 35rem;
    margin: 0 auto;
}

.contact-form:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.contact-form h3 {
    padding-top: 1.25rem;
    color: #4a8acf;
}

.form-group {
    padding: 1rem 1.5rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    border: none;
    margin-bottom: 1.25rem;
    background: #f1f5f8;
    border-radius: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    resize: vertical;
}

.form-control::placeholder {
    font-family: 'Golos Text',
        sans-serif;
    color: #102a42;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.footer {
    background: #222;
    text-align: center;
}

.social-icon {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.footer-text {
    margin-top: 1.25rem;
    text-transform: capitalize;
    color: #fff;
    font-weight: 400;
    font-size: 1.3rem;
}

.company {
    color: #4a8acf;
}