@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 45em;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: #f8fafc;
    padding: 1em 3em;
    color: #566b78;
    line-height: 1.5;
}

.main-section {
    margin-bottom: 2rem;
}

hr {
    color: rgb(209 213 219);
    opacity: 0.4;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    margin: 2rem 0 2rem 0;
}

.nav-menu {
    display: flex;
}

.nav-menu > a {
    color: #8b5cf6;
}

.nav-item {
    display: inline;
    list-style-type: none;
    font-size: 1.125rem;
    margin: 0 3rem 0 0;
    font-weight: 500;
}

.nav-item:hover {
    color: #8b5cf6;
    text-decoration: underline;
}

.nav-item > a {
    text-decoration: none;
}

.dark-mode-btn {
    background: transparent;
    border: none;
    font-size: 1.125rem;
    cursor: pointer;
    color: #8b5cf6;
}

.active-elements {
    font-weight: bold;
}

a:visited {
    color: #8b5cf6;
}

.main-article {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.main-article h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #8b5cf6;
}

p {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.resume-btn {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: #e0e7ff;
    color: #6366f1;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin-top: 0.6rem;
}

.resume-btn > i {
    margin-right: 0.5rem;
}


img {
    border-radius: 9999px;
    border: 2px dashed #566b78;
    margin-right: 2rem;
}

.pro-section {

}

.pro-article {
    
}

.pro-article > h2 {
    margin: 2rem 0 1rem 0;
}
