
body {
    background: tomato;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    background: mediumpurple;
}

 
div {
    background: palegoldenrod;
    padding: 16px 32px;
    margin: 20px;
    border: 8px solid Orchid;
    width: 100px;
}

p {
    background: papayawhip;
    color: lightgray;
}

strong {
    margin: 50px;
}