@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    max-width: 50em;
    margin: 0 auto;
    padding: 4em 1em;
    line-height: 1.5;
    color: #566b78;
}

h2, h3{
    line-height: 1;
    margin-top: 1em;
    padding-top: 1em;
}

h1, h2, h3, strong, span{
    color: #333;
}

code {
    display: inline;
    padding: .2em .4em;
    background: #f5f7f9;
    border-radius: 6px;
    vertical-align: text-bottom;
    color: #a7adba;
    border-left: 2px solid #69c;
    border-right: 2px solid #69c;
}
  
a {
    color: #539bf5;
}

.underline-bold {
    text-decoration: underline;
    font-weight: bold;
}

.link{
    padding: .2em .4em;
    background: #f5f7f9;
    border-radius: 6px;
    border-left: 2px solid  #d6ba18;
    border-right: 2px solid #d6ba18;
}

.link:hover{
    background: #ffb2b2;
}

/* Form */
.form-group{
    margin: 20px 0;
}
label, input{
    vertical-align: middle;
}
label, input:not([type="radio"], [type="checkbox"]){ 
    width: 100%;
    margin: 0;
}
textarea{
    display: block;
    width: 100%;
    resize: vertical;
}
label, legend{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #444;
}
input[type="text"], input[type="email"], textarea {
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px 10px;
    color: #333;
}
.help{
    font-size: 12px;
    margin-top: 10px;
    color: gray;
}
form > div:last-child{
    display: flex;
    justify-content: center;
}
button{
    padding: 16px 60px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #713f12;
    background: #eab308;
    color: #333;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    cursor: pointer;
}
button:hover{
    background: #facc15;
}
button:active{
    background: #ca8a04;
    box-shadow: -1px -1px 0 rgba(0,0,0,0.5);
}
