@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";

body {
  display: flex;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
  max-width: max-content;
  line-height: 1.5;
  padding: 1em 1em;
  font-size: 12px;
  background-color: white;
  background-image: url("https://www.proydesa.org/portal/images/codigos.jpg");
}

.form-send {
    display: flex;
    align-items: center;
}

.form-mensaje {
    display: grid;
}

.form-email {
    display: grid;
}

.form-name {
    display: grid;
}

#hdv {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info {
  display: flex;
  display: contents;
}

#myName {
  margin: auto;
  display: flex;
  width: auto;
  height: 230px;
  color: #f5f7f9;
  font-size: xx-large;
  background-image: url("https://assets.bedu.org/images/top-lenguajes-programacion-2021.jpg?w=1200");
  align-items: center;
  justify-content: space-around;
}

h1 {
  color: #333;
}

h2 {
  display: flex;
  margin-top: 1em;
  padding-top: 1em;
  flex-direction: column;
  align-items: center;
  color: #333;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: royalblue;
}

ul,
li,
a {
  text-decoration: dashed;
  margin: auto;
}

header {
  background: rgba(0, 0, 0, 0.7);
  max-width: 489px;
  min-width: 489px;
  position: fixed;
  z-index: 100;
  margin: 0px;
}

nav {
  float: left;
}

nav ul {
  list-style: none;
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
nav ul li a {
  display: block;
  padding: 10px;
  color: #fff;
}
nav ul li:hover {
  background: #000f41;
}

form {
  display: grid;
  justify-items: center;
}
