body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #19A7CE;
}

header{
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 16px;
}

nav ul {
    float: right;
    margin-right: 70px;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul li:not(:first-child) {
    margin-left:48px;
  }

  nav ul li:last-child {
    margin-right: 24px;
  }

  nav ul li a {
    padding: 20px 10px;
    display: inline-block;
    outline: none;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1.2px;
  }

  nav ul li a:hover {
    border-bottom: 2px solid white;
  }

.title {
    display: flex;
    justify-content: center;
    text-align: center;
}

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

h3 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.parrafo {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.parrafo-uno {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.parrafo-dos {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.lista-ordenada {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.lista-desordenada {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.link-perfil{
    padding: 12px;
    background-color:#E21818 ;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 12px;

}
.link-perfil:hover{
    background-color: rgb(76, 0, 255);
}
.link-perfil:active{
    background-color: blue;
}

footer {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.page {
    max-width: 800px;
    margin: 8px auto;
    padding: 0 40px;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input,
  textarea {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  
  input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
    border-radius: 5px;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
    cursor: pointer;
  }
  
  input[type="file"] {
    padding: 1px 2px;
  }