html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
.page {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
    box-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(139, 164, 231);
}

body {
    color: rgb(255, 255, 255);
    background-color: rgb(139, 164, 231);
}

body img {
    display: inline-block;
    height: 450px;
    width: 325px;
    float:right;
    margin-left: 40px;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
    color: #2c1497
}

h3 {
    color: rgb(93, 66, 161)
}

a {
    color: rgb(118, 239, 255)
}

h1 {
    color: #e81c4f;
    font-weight: 200;
    font-style: inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}