html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 100px;
}
*{
    box-sizing: inherit;
}


body {
    background: linear-gradient(to bottom, #62bfed, #52154e);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px;
}

p, li, #top{
    font-family: sans-serif;
    color: whitesmoke;
}

.link {
    font-family: sans-serif;
    color: whitesmoke;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 15px;
}

.link:hover:not(#top, .item > .link) {
    color:#62bfed;
    border: 1px solid #9f0d95;
}

.item > .link {
    color:#111;
    border: 1px solid #0b70a3;
    border-radius: 10px;
}

.item > .link:hover{
    color: #0b70a3;
    border: 1px solid #111;
}

nav{
    padding: 15px;
    background: #222;
}

nav > div > a {
    margin: 15px
}

nav > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#top{
    background: #222;
    margin: 0px ;
    padding: 20px 0px
}

h1:not(#top), h2, h3 {
    background: linear-gradient(to top left, #52154e, #62bfed) ;
    padding: 20px;
    padding-left: 25px;
    border: 1px solid black;
    border-radius: 15px;
    color: #222;
    font-family: sans-serif;
}

.intro{
    background-color: whitesmoke;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 15px;
}

a {
    font-size: 15px;
    text-decoration: underline;
}

p, li, a{
    font-weight: 550;
    font-size: 20px;
}

p, ul{
    width: 95%;
}

.item {
    margin: 10px 0;
}

#git{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
}

#top{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section{
    margin: 0px 40px;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#btn{
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    text-decoration: none;
    color: #111;
    font-family: sans-serif;
    background: #62bfed
}

#btn:hover{
    background: radial-gradient(#62bfed, #52154e);
}

.btn{
    position: fixed;
    bottom: 40px;
    right: 30px;
}

figure{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid black;
}

.dev_img{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

