@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: hsl(0, 0%, 93%);
  font-family: 'Roboto', sans-serif;
  line-height: 2em;
  margin: 0;
}

#header {
  background-color: #24292e;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

#header h1 {
  margin-bottom: 0;
}

#header h3 {
  margin-top: 0;
}

#header ul {
  list-style: none;
  padding: 0;
}

#header li {
  margin-bottom: 10px;
}

#header a {
  color: #fff;
  text-decoration: none;
}

#header a:hover {
  text-decoration: underline;
}

#main {
  width: 70%;
  margin: 2em auto;
}

#connect {
  background-color: hsl(0, 0%, 93%);
  display: flex;
  gap: 2em;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 50px;
}

#connect a {
  margin-right: 10px;
}

#connect > li {
  list-style: none;
}

#languages {
  background-color: hsl(0, 0%, 93%);
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: left;
  align-items: center;
  padding: 50px;
}

#languages img {
  margin-right: 20px;
  margin-bottom: 20px;
}

#languages img:last-child {
  margin-right: 0;
}

#languages > li {
  list-style: none;
}

#languages a {
  color: #212121;
  text-decoration: none;
}

#languages a:hover {
  text-decoration: underline;
}

.main-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.profile__list__item {
  list-style: none;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #e5766d;
}

a:visited {
  color: #e5766d;
}

.header-paragraph {
    max-width: 70%;
    text-align: center;
    padding-top: 1em;
}

/* Styles for Contact */
.page {
  max-width: 800px;
  margin: 100px auto;
  padding: 0 40px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Styles for footer */

#footer {
  background-color: #24292e;
  color: #fff;
  text-align: center;
  padding: 25px 0;
}