* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0 auto;
  max-width: 50em;
  color: #413543;
}

h1 {
margin-top: 100px;
display: flex;
justify-content: center;
align-items: center;
}

img {
  border-radius: 50%;
  width: 64px;
  margin-left: 50px;
}

h1, h2 {
color: #8F43EE;
}

form {
  width: 50%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
  border-radius: 5px;
}

input {
  height: 25px;
  padding: 5px;
}

button {
  background-color: #8F43EE;
  border:none;
  color: white;
  border-radius: 5px;
  padding: 8px 16px;
}


