html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  color: #eceff1;
  /* background-color: #ECEFF1; */
  background-image: url("/assets/images/backgrounddeformado2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
}

article {
  margin: 30px 0px;
}

strong {
  font-size: 18px;
  color: #cef0ff;
}

nav {
  background-color: #5333ed;
  border-radius: 0px 0px 6px 6px;
  overflow: hidden;
  position: fixed; /* Fija la barra de navegación en la parte superior */
  top: 0; /* Coloca la barra de navegación en la parte superior */
  width: 100%; /* Hace que la barra de navegación ocupe todo el ancho de la página */
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 20px;
  min-height: 1px;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  padding: 1px 20px; /* Añade un poco de espacio entre los enlaces */
}


.menu {
  display: flex;
  justify-content:flex-end;  
  padding: 10px 1px;
  font-weight: bold;
}

.menu a:hover {
  color: #b667ff;
  text-decoration: none;
}

.page {
  margin: 40px auto;
  padding: 0 24px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  text-transform: uppercase;
  font-size: 16px;
  color: #fafafaea;
  margin-top: 0.5em;
  padding-top: 0.5em;
}

a {
  color: #239aff;
  transition: 0.2s ease-in-out;
}


.skills {
  display: flex;
  justify-content: flex-start;

  gap: 50px;
  padding: 0px 20px;
}

.skills-subtitle {
  font-size: 14px;
}

/* a:hover {
  color: #b667ff;
} */

.hidden {
  display: none;
}

.description {
  padding: 5px 20px;
}

.footer {
  /* max-width: 800px;    */
  width: 100%;
  text-align: center;
  /* background-color: #333; */
  color: #fff;
  padding: 10px 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
}

/* .footer {
    max-width: 800px;   
    margin: 0 auto;
    font-size: small;
  } */

@media screen and (min-width: 992px) {
  

  nav {
    font-size: 16px;
    padding: 5px 40px;
  }
  nav a {
    padding: 2px 16px; /* Añade un poco de espacio entre los enlaces */
    cursor: pointer;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    margin-top: 1em;
    /* padding-top: 1em; */
    font-size: 24px;
  }
  .menu{
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;
  }
  .skills-subtitle {
    font-size: 18px;
    font-weight: lighter;
  }
  .footer {
    font-size: medium;
  }
  .page {
    max-width: 800px;
    font-size: 18px;
    line-height: 1.5;
    padding: 1em 1em;
  }
}
