* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  
}

.container {
    height: 100vh;
    padding: 30px;
    background-color: hsl(0, 60%, 93%);
    display: flex;
    justify-content: center;
}

.form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color:#F0EEED;
    padding: 10px;
    color: #365b71;
    font-size: 17px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(151, 112, 112, 0.199);
}

.title-form {
    font-family: 30px;
}

.distance {
    padding: 10px 0;
}

input {
    border: none;
    padding: 4px;
    margin: 6px;
    border-radius: 5px;
    background-color: #79b2d34a;
    color: rgb(94, 92, 92);
}

.login {
    align-self: flex-end;
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #bddcef;
    color: #78a5c0;
    border: 1px solid black;
    box-shadow: 0 0 10px rgb(171, 220, 223);
}

.password {
    text-decoration: none;
    color: #7babc7;
}


input:hover {
    background-color: rgb(242, 249, 255);
}