@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-poppins);
}

:root {
    --color1: #2C3333;
    --color2: #ECF2FF;

    --f-poppins: 'Poppins', sans-serif;
}

.conteiner {
    margin: 0 auto;
    background-color: #f7faff;
}

.nav-container {
    color: #f7faff;
    padding: 10px;
}

.ul-container {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 20px;
    padding: 0 10px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #c7c6c6;
}

.principal {
    height: 100vh;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

.intro p{
    padding-top: 20px;
}

.me {
    height: 100vh;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.img-principal {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 350px;
    
}

.content-academy {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    margin: auto;
}

img {
    width: 70px;
}

.cotent-t-img-logo {
    padding-top: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.tech {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contact {
    padding: 20px 0;
    color: white;
    background-color: #2C3333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button {
    align-self: flex-end;
    padding: 5px 30px;
    margin-right: 20px;
    cursor: pointer;
    background-color: #f7faff;
    border: none;
    border-radius: 5px;
}
