section {        
    background:DarkSalmon;                                          
    font-family: Cambria;
    font-size: 18px;   
    color: #2F4F4F;
}
header {     
    line-height: 1.5;
    margin-left: 150px ;
    margin-right: 150px;
}
article {
    background: cadetblue;   
    padding: 32px 32px; 
    margin: 150px;
    border: 10px solid blanchedalmond;
    
}

