html {
  height: 100%;
  box-sizing: border-box;
  color: #4D4D4D;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: inherit;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 94%;
}

.sidebar {
  border: 2px dashed #B46060;
  border-radius: 8px;
  flex-basis: 16.66%;
  background: #FFBF9B;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

.main-content {
  border-radius: 8px;
  background: #FFF4E0;
  flex-basis: 100%;
  
}

.main-content h2 {
  color: #B46060;
}

.image-crop {
  margin-top: 20px;
  position: relative;
  width: 150px;
  height: 150px;
  clip-path: circle(75px at center);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  overflow: hidden;
}

.image-crop img {
  position: absolute;
  /* adjust to show upper part of image */
  top: -5%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

h1 {
  padding: 1em;
  text-align: center;
  background: #4D4D4D;
  color: #FFF4E0;
  border-radius: 4px;
}

h2 {
  margin: 10px 10px;
}

h3 {
  margin-left: 10px;
}

.main-content p {
  margin-left: 25px;
  margin-right: 32px;
}

.divider {
  background: #B46060 ;
  height: 5px;
  width: 100%;
}

.section {
  padding: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.footer {
  margin-top: 10px;
  background: #4D4D4D;
  border-radius: 16px;
  /* display: block; */
  color: #FFF4E0;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  border: 2px dotted #FFF4E0;
}

.footer p {
  margin-top: 10px;
}

a {
  color: #FFF4E0;
}
