html {
  box-sizing: border-box;  
  }
* {
box-sizing: inherit;  
}
.page {
  border:2px solid lightcyan;
  max-width: 500px;
  margin: 15px auto;
  padding: 0 40px; 
  font-family: Arial, Helvetica, sans-serif;
} 



body {
    background-color: #b1c58c;
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
    color: #566b78;
  }

  body p {
    text-align: unset;
  }

  
h2 {
    margin-top: 1em;
    padding-top: 1em;
  }

h1, h2, strong {
  color: #4b1111;
}
code, pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}
a {
    color: #e81c4f;
  }
  
code, pre {
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
  }
  
pre {
    border-left: 2px solid rgb(216, 216, 216);
  }
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
  header {
    
    background-image: url("header.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
    height: 350px;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
    max-width: 600;
    
  }  
  .logo {
    
    margin-top: 15px ;
    display: auto;
    height: 120px;
    vertical-align: top;
    width: 120px;
  }
  header h1 {
    position: relative;
    display: auto;
    margin-top: -50px;
    font-family:"Star wars", fantasy;
    color: rgb(255, 230, 0);
    font-size: 2.5em;
    font-weight: 300;
    
   
  }
  
  header a {
    position: top;
    display: auto;
    border: 2px solid #e7a71d;
    border-radius: 290486px;
    color: rgb(226, 8, 0);
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
  }
  
  header a:hover {
    background:  #90dd39;
    color: white;
  }
  footer {
    
    padding: 20px;
  }

  footer p {
    text-align: center;
    font-family:"Helvetica", "Arial", sans-serif;
    color: rgb(43, 41, 22);
    font-size: 1em;
    font-weight: 250;
  }
 
  footer a {
    justify-content: center;
    margin: 20px auto;
    border: 4px groove #45e3ff ;
    border-radius: 290486px;
    color: rgb(247, 134, 6);
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
  }
  
  
  footer a:hover {
    background:  #646bc4;
    color: white;
  }
  footer a:active {
    background:  #3e416b;
    color: white;
  }

  .form-group { 
  
    margin: 15px 0;
  }
   label , input[type="text"], input[type="email"],input[type="tel"] {
    width: 100%;
    
   }
   label, input{
    vertical-align: middle;
   }
   input[type="text"], input[type="email"],input[type="tel"], textarea{
    background: #d6e7b6;
    border: 1px solid lightcyan;
    border-radius: 5px;
    padding: 6px 8px;
    color: #333;
   }
   textarea{
    display: block;
    width: 100%;
    resize: vertical;
   }

   .help{
    font-size: 12px;
    margin-top: 12px;
    color: gray
   }
  
   label, legend{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    color: #444;
  
   }
  button{
    margin-bottom: 20px;
    padding: 12px 60px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid lightcyan;
    background: lightgreen;
    color: #4b1111;
    text-shadow: -2px,-2px, 0 rgb(255, 255, 255, 0.5) ;
    border-radius: 7px;
    box-shadow: 3px, 3px, 9px rgba(0,0,0,0.5);
    cursor: pointer;
  }
  button:hover {
    background: rgba(144, 238, 144, 0.507);
  }
  button:active {
    background: rgb(101, 170, 101);
    box-shadow: -3px, -3px, 0px rgba(0,0,0,0.5);
    color: #421010a2;
    text-shadow: 2px,2px, 0 rgb(255, 255, 255, 0.5) ;
  }