@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    color: #566b78;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 50em;
    padding: 4em 1em;
}

h1, h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #0062cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 30px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin: 50px auto;
  }

  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #007bff;
  }

  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
  }
  
  input:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #007bff;
  }

  button[type="submit"] {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #0062cc;
  }
  
  