html, body {
    box-sizing: border-box;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: lightblue;

}

/**fuentes modificadas*/
a {
    text-decoration: none;
    color: inherit;
}

.bold {
    font-weight: bold
}

.curly {
    font-style: italic;
}
h1:not(.ignore),
h2:not(.ignore) {
    padding: 1em .5em .5em;
    border-bottom: 1px solid black;
}
/* contenido del body */

section{
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    gap: 40px;
    min-height: 400px;
    border: 2px solid purple;
    padding: 0 0 24px 0 ;
}


/*encabezado y barra de navegacion*/
.header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    color: darkcyan;
    border-bottom: 1px solid gray;
}

.logo {
    display: block;
    width: 100%;
    padding: 0 1em;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    padding: 0 1em;
}

.navbar a {
    padding: 1em;
}

main {
    max-width: 85%;
    margin: 0 auto;
}

/*section #home*/
.home {
    width: 100%;
    height: calc(100vh - 70px);
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.home h1,
.home h2 {
    text-align: center;
    font-size: 2.2rem;
}
/*section #about*/

/*section #skills*/
.skills-ul{
    padding: 0 0 0 24px;
}
.skills-ul li{
    padding: 8px 0;
}

/*section #media*/
.sMedia article {
    padding:.5em 0;
}
.github {
    text-decoration: none;
    color: darkcyan;
}
/*fOOTER*/
footer {
    height: 50px;
    padding: 2em 1em;
    text-align: center;
}