@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


*{  
    margin: 100 auto;
    max-width: 50em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(231, 212, 255);
    box-sizing: border-box;
}


.title-presentation{
    margin-top: 1em;
    padding-top: 1em;
}  

.description{
    margin-top: 20px;
    margin-bottom: 20px;
}

.second-title{
    margin-bottom: 30px;
}

a {
    font-size: 20px;
    text-align: center;
    display: inline-block;
    background-color: #9666be;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 4px;
  }

  a:hover {
    background-color: #8a4abe;
  }

  img{
    width: 20px;
    height: 20px;
    background-color: #9666be;
  }
  
  img:hover {
    background-color: #8a4abe;
  }

  .pie{
    font-size: 12px;
    color: rgb(136, 136, 135);
    text-align: left;
  }

  .form-group{
    margin: 20px 0;
  }

  label, input{
    vertical-align: middle;
  }

  label, input:not([type="radio"], [type="checkbox"]) {
    width: 100%;
  }

  textarea{
    display: block;
    width: 100%;
    resize: vertical;
  }

  label, legend{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #444;
  }

  input[type="text"],input[type="email"], textarea{
    background: rgb(238, 224, 255);
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 8px 10px;
    color: #333;
  }

  .help{
    font-size: 12px;
    margin-top: 5px;
    color: rgb(136, 136, 135);

  }
 
  button {
    padding: 14px 40px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #713f12;
    background: rgb(194, 149, 248);;
    color: #333;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
