/* ---- Reset ----*/

html {
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
  background: radial-gradient(circle, rgba(2,0,31,1) 27%, rgba(0,0,0,0.9668242296918768) 92%);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #f1f1f1;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

h1,h2,h3,p {
  margin: 0;
}

[id] {
  scroll-margin-top: 9ex;
}


/* ---- Styles ----*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 850px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem;
}

.header {
  margin: 2rem 0;
}

.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style-type: none;
}


.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.presentation-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.presentation-text span, h2 {
  font-weight: bold;
  color: #38BDF8;
}

.presentation-text h1 {
  font-size: 2rem;
}

.presentation-links {
  display: flex;
  gap: 10px;
}

.presentation-links a {
  display: flex;
  align-items: center;
  padding: 4px;
  border: 1px solid gray;
  border-radius: 0.5rem;
  gap: 5px;
}

.presentation-links a > svg {
  width: 30px;
  height: 30px;
}

.about {
  width: 100%;
}