@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  max-width: 50rem;
  margin: 0 auto;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  padding: 4rem 1rem;
  color: #444;
  background: #fafafa;
}

h2 {
  margin-top: 1rem;
  padding-top: 1rem;
}

h1,
h2,
h3,
strong {
  color: #333;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1rem;
  border-left: 2px solid #69c;
}

a {
  color: #e81c4f;
}

.form__container {
  max-width: 40rem;
  margin: 0 auto;
  background-color: tomato;
}
