@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.container {
  text-align: center;
}

header img {
  display: inline-block;
  height: 120px;
  width: 110px;
  vertical-align: top;
}

body {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  text-align: left;
  padding: 4em 1em;
  font-size: 14px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #555;
}

.page {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 40px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
strong {
  color: #333;
}

h3 {
  margin-top: 1em;
  padding-top: 1em;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

a {
  color: #e81c4f;
}

a:hover {
  background: #e81c4f;
  color: white;
}

.form-group {
  border: 1px;
  margin: 20px 0;
}

label, input {
  vertical-align: middle;
}

label, input[type="text"], input[type="email"] {
  width: 100%;
}

textarea {
  display: block;
  width: 100%;
  resize: vertical;
}

label, legend {
  font-weight: bold;
  font-size: 14px;
  color: #444;
}

input[type="text"], input[type="email"], textarea {
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 8px 10px;
  color: #333;
}

.help {
  margin-top: 10px;
  font-size: 12px;
  color: gray;
}

button {
  padding: 16px 60px;
  font-weight: bold;
  background: rgb(2, 119, 128);
  border: 1px solid rgb(2, 93, 99);
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #e81c4f;
  border: 1px solid #a2173a;
}

