*{
    box-sizing: border-box;
}
body{
    color: #333;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);

}
.page{
    max-width: 700px;
    margin: 100px auto;
    padding: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fafafa;
    border-radius: 20px;

}

.form-group{
   
    margin: 20px 0;
}
label, input {
    vertical-align: middle;
}
label, input:not([type="radio"],[type="checkbox"]){
    width: 100%;
}
label, legend {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #444;
}
textarea {
    display: block;
    width: 100%;
    
}
input[type="text"], input[type="email"], textarea{
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 8px 10px;
    color: #333;
}

textarea + div{
    font-size: 12px;
    margin-top: 10px;
    color: gray;
}

.btn{
    padding: 16px 60px;
    text-transform: uppercase;
    border: 3px solid #008CBA;
    border-radius: 20px;
    color: #333 ;
    background-color: white;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgba(255,255,255, 0.5);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
button:hover{
    background: #0379a0;
}
button:active{
    background: #05495f;
    box-shadow: -1px -1px  rgba(0, 0, 0, 0.8);
}
 span a{
    display: inline-block;
    text-decoration: none;
    margin-left: 50px;
}