td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    background-color: rgba(231, 159, 176, 0.285);
}
body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #566b78;
}
h2, h3 {
    margin-top: 1em;
    padding-top: 1em;
}
h1, h2, strong {
    color: #333;
}
a {
    color: #e81c4f;
}
img {
    max-width: 25%;
}