@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

header.main {
    background-image: url("img/header-page.jpg");
    image-rendering: pixelated;
    background-position: center top;
    background-size: 100%;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-color: #868686;
    line-height: 1.2;
    padding: 3vw 0em;
    text-align: center;
}

main.page {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 0em 1em;
    color: #566b78;
}

body {
    color: #333;
    background-color: #f3f1f1de;
    margin: 0;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1, h2, strong {
    color: #333;
}

code, pre {
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
    border-left: 2px solid #69c;
    white-space: pre-wrap;
}

a {
    color: #070ad6;
}

header h1 {
    color: rgb(0, 0, 0);
    font-size: 2.5em;
    font-weight: 600;
    text-shadow: 2px 2px #fefefe;
}

table {
    background-color: #f5f7f9;
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #b6b6b6;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #bdc0c2;
}

footer.main {
    text-align: center;
}

footer {
    font-size: 0.8em;
}

nav {
    background-color: transparent;
}

nav ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0;
    padding: 0 20px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-weight: 18px;
}

@media screen and max {
    
}