* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 80%;
  margin: auto;
  scroll-behavior: smooth;
}

/* size */

html,
body,
header {
  min-width: 100%;
  justify-content: center;
}

/* img size */
.logo {
  width: 300px;
  height: 100px;
}
.mode {
  display: flex;
  justify-content: center;
}
.lightMode {
  width: 50px;
  position: absolute;
  border: none;
  outline: none;
  background: #fff;
  color: #181818;
}

.darkMode {
  width: 50px;
  position: absolute;
  border: none;
  outline: none;
  background: #181818;
  color: #fff;
}

.FotoPerfil {
  margin: 30px;
  width: 40%;
  height: 50%;
}
.imgProjec {
  width: 50%;
}
.iconos {
  width: 40px;
  margin: 5px;
  margin-bottom: 10px;
}
.iconTech{
  width: 50px;
  margin: 5px;
  margin-bottom: 10px;
}
.buttonMode{
  width: 10%;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
/* nav */

.navBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #181818;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin: 15px;
  display: flex;
  justify-content: flex-end;
}

/* Home */

.conteinerHome {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
#lastName {
  color: rgba(2, 232, 232, 0.802);
}
.textHome > h1 {
  font-size: 400%;
}
.textHome > p {
  font-size: 300%;
}


.navBar,
.home,
.aboutMe,
.projects,
.contact {
  border-color: #82828200 #82828200 rgba(2, 232, 232, 0.802) #82828200;
  border-style: solid;
  margin: 5px 150px 50px;
}
.home,
.aboutMe,
.projects{
  height: 650px;
}

/* About Me */
.aboutMe{
  justify-content: space-around;
}
.conteinerAboutMe {
  width: 100%;
  justify-content: space-around;
}
.textHome {
  width: 90%;
  align-content: space-around;
}

.textAboutMe > p {
  display: block;
  justify-content: space-around;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
}
h3{
  margin-top: 20px;
  margin-bottom: 20px;
}
.tech{
  display: flex;
  align-items: center;
}
.conteinerAboutMe > h3{
  font-size: 25px;
}
tr{
  font-size: 20px;
}
th{
  width: 33%;
  margin-top: 5px;
}

/* Projects */
.contProjects {
  display: block;
  width: 33%;
}
.description{
  margin: 0;
}
#repo{
  margin: 0;
  align-items: center;
}

.conteinerProjects {
  display: flex;
  margin-top: 20px ;
}

.iconPorject{
  width: 30px;
  height: 20px;
  margin-top:5px;
}

/* contact */
.contactInfo {
  display: flex;
  justify-content: center;
}
